<ion-view title="OneMeal" ng-init="init()">
    <ion-content>
        <div class="list card">
            <div class="item item-divider">
                Pending
            </div>
            <div class="item item-thumbnail-left" ng-repeat="x in names" ng-click="openProfile(x.Id, x.UserID, POST_REQUEST_PROFILE)">
                <!--<div class="item item-text-wrap">-->
                    <img ng-src="http://graph.facebook.com/{{x.UserID}}/picture?type=normal" height="100" width="100" />
                    <h2>{{x.MealDate | date: 'dd/MM/yyyy hh:mm'}}</h2>
                    <h3>{{x.Location}}</h3>
                    <p>{{x.Name}}, {{x.Age}}</p>
                    <p>{{x.Profession}}</p>
                <!--</div>-->
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">
                Archive
            </div>
            <div class="list card">
                <div class="item item-thumbnail-left" ng-repeat="x in archive" ng-click="openProfile(x.Id, x.UserID, ARCHIVED_PROFILE)">
                    <img ng-src="http://graph.facebook.com/{{x.UserID}}/picture?type=normal" height="100" width="100" />
                    <h2>{{x.MealDate | date: 'dd/MM/yyyy hh:mm'}}</h2>
                    <h3>{{x.Location}}</h3>
                    <p>{{x.Name}}, {{x.Age}}</p>
                    <p>{{x.Profession}}</p>
                </div>
            </div>
        </div>
</ion-content>
    <div class="tabs tabs-icon-only">
        <a nav-clear class="tab-item disable-user-behavior active" title="Posting" ui-sref="post">
            <!---->
            <i class="icon ion-coffee"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
        <a nav-clear class="tab-item disable-user-behavior active" title="Home" ui-sref="mainscreen">
            <i class="icon ion-home"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
        <a nav-clear class="tab-item disable-user-behavior active" title="History" ui-sref="history">
            <i class="icon ion-person-stalker"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
    </div>
</ion-view>
